@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Font/Roboto.zip);
}

:root {
    --cinza: #232323;
    --roxo: #9400FF;
    --branco: #ECF0F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

html{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--cinza);
}

/* header - header - header - header - header - header - header - header - header */

header{
    height: 15vh;

    background-color: var(--cinza);
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
}

.grid-header {
    height: 100%;
    width: 90vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    /* flex-direction: row/column; */
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li a{
    font-size: 1.1rem;
    color: var(--branco);
    padding: 10px 30px 10px 30px ;
}

nav ul li a:hover{
    padding-bottom: 15px;
    border-bottom: 2px solid var(--roxo);
    background-color: #303030;
}

.header-btn{
    width: 200px;
    height: 40px;
    
    background-color: var(--roxo);
    border: none;
    border-radius: 15px;
    
    font-size: 1.1rem;
    color: var(--branco);
}

.header-btn:hover{
    cursor: pointer;
    scale: 1.1;

    -webkit-box-shadow: -5px -5px 35px -5px rgba(82,5,140,1);
    -moz-box-shadow: -5px -5px 35px -5px rgba(82,5,140,1);
    box-shadow: -5px -5px 35px -5px rgba(82,5,140,1);
}

.menu-btn{
    background: none;
    border: none;
    display: none;
}

.menu-fechado{
    display: none;
}

/* hero - hero - hero - hero - hero - hero - hero - hero - hero - hero - hero - hero */

#sobre{
    height: fit-content;
    font-family: 'Roboto', sans-serif;
}

.grid-sobre {
    height: 100%;
    width: 75vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    /* flex-direction: row/column; */
    justify-content: space-between;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 80px;
}

.sobre-column{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sobre-row{
    display: flex;
    flex-direction: row;
}

#sobre p{
    color: var(--branco);
    font-size: 1.2rem;
}

.sobre-pequeno{
    font-size: 1.4rem;
    margin-bottom: 50px;
}

.sobre-grande{
    font-size: 3rem;
    margin-bottom: 50px;
}

.sobre-btn{
    display: flex;
    flex-direction: row;

    gap: 30px;
}

#sobre button{
    width: 200px;
    height: 40px;
    
    background-color: var(--roxo);
    border: none;
    border-radius: 15px;
    
    font-size: 1.1rem;
    color: var(--branco);
}

#sobre button:hover{
    cursor: pointer;
    scale: 1.1;

    -webkit-box-shadow: -5px -5px 35px -5px rgba(82,5,140,1);
    -moz-box-shadow: -5px -5px 35px -5px rgba(82,5,140,1);
    box-shadow: -5px -5px 35px -5px rgba(82,5,140,1);
}

picture img{
    width: 25vw;
    margin-left: 200px;
}

/* Habilidades - Habilidades - Habilidades - Habilidades - Habilidades */

#habilidades{
    height: fit-content;
    font-family: 'Roboto', sans-serif;
}

.grid-hab{
    height: 100%;
    width: 75vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 80px;
}

.title-hab{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;

    text-align: left;
    color: var(--branco);

    margin-bottom: 80px;
}

.title-hab span{
    color: var(--roxo);
    letter-spacing: 8px;
    background-color: #303030;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-bottom: 10px;
}

.hab-row{
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.hab-column{
    display: flex;
    flex-direction: column;

    gap: 50px;
}

.hab-text-column{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

    background-color: #ffffff00;
    min-width: 250px;
    min-height: 150px;

    border: 2px solid var(--branco);
}

.hab-text-column:hover{
    background-color: var(--roxo);
}

.hab-text-column p{
    font-size: 1.5rem;
    /* color: var(--branco); */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff; 
}

.hab-text-column svg{
    fill: none;
    stroke: var(--branco);
}

/* projetos - projetos - projetos - projetos - projetos - projetos - projetos - projetos - projetos - projetos - projetos - projetos */

#projetos{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.grid-projetos{
    height: 100%;
    width: 75vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 80px;
}

/* forms - forms - forms - forms - forms - forms - forms - forms - forms - forms - forms - forms - forms - forms - forms - forms */

#contato{
    height: fit-content;
    font-family: 'Roboto', sans-serif;
}

.grid-contato{
    height: 100%;
    width: 75vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 80px;
}

.title-contact{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;

    text-align: left;
    color: var(--branco);

    margin-bottom: 80px;
}

.title-contact span{
    color: var(--roxo);
    letter-spacing: 8px;
    background-color: #303030;
    padding: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    /* margin-bottom: 10px; */
}

.contact-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#contato h3{
    margin-bottom: 40px;
    color: var(--branco);
    font-size: 1.2rem;
}

@media screen and (max-width: 1450px){
    .hab-row{
        display: flex;
        flex-direction: column;
    }

    .hab-column{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1250px){
    picture img{
        width: 45vw;
        display: none;
    }
}

@media screen and (max-width: 1000px){
    header .menu-btn{
        display: unset;
    }

    nav ul{
        display: flex;
        flex-direction: column;

        color: var(--cinza);
        background-color: var(--branco);
        padding: 10px 10px 100px 10px;
        gap: 10px;

        align-items: center;

        position: absolute;
        top: 100px;
        right: 0px;

        -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    }

    nav ul li a{
        min-width: 240px;
        min-height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--branco);
        color: var(--cinza);
    }

    #btn-cta{
        background-color: var(--roxo);
        padding: 10px;
        gap: 10px;

        position: absolute;
        top: 315px;
        right: 25px;

        -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
        box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    }
}

@media screen and (max-width:1250px){
    .sobre-row{
        display: flex;
        flex-direction: column;
    }

    picture{
        margin-left: 0px;
        margin-top: 50px;
    }
    
}

@media screen and (max-width:500px){
    .sobre-btn{
        display: flex;
        flex-direction: column;
    }

    .sobre-pequeno{
        font-size: 1.2rem;
    }

    .sobre-grande{
        font-size: 2.2rem;
    }
}

@media screen and (max-width:410px){
    .sobre-pequeno{
        font-size: 1.2rem;
    }

    .sobre-grande{
        font-size: 2.0rem;
    }
}

@media screen and (max-width:375px){
    .sobre-pequeno{
        font-size: 1.2rem;
    }

    .sobre-grande{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:360px){
    .sobre-pequeno{
        font-size: 1rem;
    }

    .sobre-grande{
        font-size: 1.5rem;
    }
}